AD Review Section 10

** Section 10.  There are no normative references in this document despite RFC2119-style language being made about compliance to those documents.  I appreciate that this is an informational document, but it still needs normative references to the specs it is building upon.  See https://www.ietf.org/about/groups/iesg/statements/normative-informative-references/.

Please do a more deliberate sweep, but minimally, the following need to be normative: [I-D.ietf-acme-subdomains], [I-D.ietf-anima-brski-cloud], [I-D.ietf-lamps-rfc7030-csrattrs], [I-D.ietf-uta-use-san], [I-D.lear-eap-teap-brski], [RFC2119], [RFC8555], [RFC8995], [RFC7170], [RFC7030], [RFC9110], [RFC8174].
