AD Review Section 7.5 #1

** Section 7.5.

   If a client sends a certificate enrollment request to an EST RA for
   an identifier that the RA does not control, the RA SHOULD respond
   with a suitable 4xx HTTP [RFC9110] error code, and SHOULD NOT send an
   enrollment request to the ACME server.  

-- This guidance appears to weaken the guidance given in Section 4.2.3 of RFC7030:

The server MUST answer with a suitable 4xx or 5xx HTTP [RFC2616]
   error code when a problem occurs.

-- Under what circumstance would the RA send a request to the ACME server for an identity it doesn't control?  Why isn't this behavior strictly forbidden?
